@import '../../index.scss';

.memories-wrapper {
  .memories-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search-modal-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .late {
      color: $danger;
    }
    .late-border {
      border-left: 6px solid $danger;
    }
    .late-width {
      display: none;
    }
    .early {
      color: $success;
    }
    .mem-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }
    .memory {
      background-color: $main-bg-colour;
      padding: 0.2em;
      margin: 0.2em 0.2em;
      flex-grow: 1;
      width: MIN(100%, 600px);

      h2 {
        // text-decoration: underline;
        text-transform: uppercase;
      }

      .memories-heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid $border-colour-light;
        .danger {
          background-color: $warning;
          color: $main-bg-colour;
        }
      }
      .memory-inner-wrapper {
      }
      .memories-rating-wrapper {
        border-top: 1px solid $border-colour-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }
      .memory-button-wrapper {
        border-top: 1px solid $border-colour-light;
        padding-top: 0.5em;
        display: flex;
        justify-content: space-between;
      }
      .created-updated-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 0.6em;
        padding-top: 1em;
      }
    }
    .memory:nth-child(even) {
      background-color: $main-font-colour;
      color: $main-bg-colour;
    }
  }
}
