@import '../../index.scss';

.memories-wrapper {
  .memories-confirmation-error {
    background-color: $danger;
    color: $main-bg-colour;
    font-size: 1.2em;
  }
  .memories-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search-modal-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .late {
      color: $danger;
    }
    .late-border {
      border-left: 6px solid $danger;
    }
    .early-border {
      border-left: 6px solid green;
    }
    .late-width {
      display: none;
    }
    .early {
      color: green;
    }
    .set-due-date {
      border-left: 6px solid $rating-colour;
    }
    .memory-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mem-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }
    .memory {
      background-color: $main-bg-colour;
      width: MAX(33%, 600px);

      h2 {
        // text-decoration: underline;
        text-transform: uppercase;
      }

      .memories-heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid $border-colour-light;
        .danger {
          background-color: $warning;
          color: $main-bg-colour;
        }
      }
      .memory-inner-wrapper {
      }
      .memories-priority-wrapper {
        border-top: 1px solid $border-colour-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }
      .memory-button-wrapper {
        border-top: 1px solid $border-colour-light;
        padding-top: 0.5em;
        display: flex;
        justify-content: space-between;
      }
      .created-updated-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 0.6em;
        padding-top: 1em;
      }
    }
    .memory:nth-child(even) {
      background-color: $border-colour-dark;

      color: $main-bg-colour;
    }
  }
}
