@import '../../index.scss';

.memories-images-wrapper {
  width: auto;
  .preview-image {
    border: 1px solid $border-colour-dark;
    width: 50%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px $image-shadow-colour);
    filter: drop-shadow(5px 5px 5px $image-shadow-colour);
  }
  .image-wrapper {
    display: flex;
    margin-top: 0.3em;
    justify-content: center;
    padding: 0.5em;

    .trash {
      position: relative;
      top: -10px;
      left: 10px;
      z-index: 10;
      width: auto;
      height: auto;
      align-content: center;
      color: $warning;
    }
    .edit {
      position: relative;
      top: -10px;
      left: -10px;
      z-index: 10;
      width: auto;
      height: auto;
      align-content: center;
      color: $warning;
    }
    & :hover {
      cursor: pointer;
      color: $danger;
    }
  }
}
