@import '../../index.scss';

.memories-images-wrapper {
  width: auto;
  .preview-image {
    border: 1px solid $border-colour-dark;
    width: 50%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px $image-shadow-colour);
    filter: drop-shadow(5px 5px 5px $image-shadow-colour);
  }
  .image-wrapper {
    .trash {
      position: relative;
      top: 16px;
      left: -6px;
      z-index: 10;
      width: auto;
      height: auto;
      align-content: center;
      color: $warning;
    }
    & :hover {
      cursor: pointer;
      color: $danger;
    }
  }
}
