@import '../../index.scss';

.tags-wrapper {
  border: 1px solid $border-colour;
  padding: 0 0.4em;
  border-radius: 14px;
  margin: auto;
  text-transform: uppercase;
  font-size: 0.6em;
  .tag-x {
    font-size: 1em;
    position: relative;
    top: -6px;
    right: -3px;
    background-color: red;
  }
}
