@import '../../index.scss';

.userDashboard-wrapper {
}
.show-completed {
  font-weight: bold;
  margin: 0.5em 0;
  text-transform: uppercase;
  opacity: 0.3;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
