@import '../../index.scss';

header {
  border: 1px solid $border-colour;
  a {
    color: $main-bg-colour;
  }

  nav {
    height: clamp(1rem, $header-height, $header-height);
    background-color: $main-font-colour;
    color: $main-bg-colour;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
